.mybutton{
	
	
	
    background-color: #0288d1;
    border: 0px;
    padding: 10px 20px 10px 20px;
    color: white;
    font-size: 14px;

}


@font-face {
    font-family: 'cac_champagneregular';
    src: url('#{resource['fonts/cac_champagne-webfont.eot']}');
    src: url('#{resource['fonts/cac_champagne-webfont.eot?#iefix']}') format('embedded-opentype'),
         url('#{resource['fonts/cac_champagne-webfont.woff']}') format('woff'),
         url('#{resource['fonts/cac_champagne-webfont.ttf']}') format('truetype'),

    font-weight: normal;
    font-style: normal;

}

body{
    font-family: 'cac_champagneregular';
}


